<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CitySleuth - My visited places</title>
    <link rel="stylesheet" href="stylesheets/styles.css" />
  </head>
  <body>
    <ul>
      <li><h2>CitySleuth</h2></li>
      <li style="float: right"><a href="/logout">Logout</a></li>
      <li style="float: right"><a href="/contact">Contact</a></li>
      <li style="float: right"><a href="/updateProfile">Update profile</a></li>
      <li style="float: right"><a href="/dashboard">Dashboard</a></li>
      <li style="float: right"><a href="/home">Home</a></li>
    </ul>
    <div class="reg_login_welcome">
      <p>
        Hi,&nbsp;<%=username%> - see where you've checked in across the world!
      </p>
    </div>
    <br />
    <div id="table_div">
      <table>
        <thead>
          <tr>
            <th>Place ID</th>
            <th>Place Name</th>
            <th>Place Address</th>
            <th>Date Visited</th>
          </tr>
        </thead>
        <tbody>
          <%user.visitedPlaces.forEach(place => {%>
          <tr>
            <td><%= place.placeId %></td>
            <td><%= place.placeName %></td>
            <td><%= place.placeAddress %></td>
            <td><%= place._id.getTimestamp() %></td>
          </tr>
          <%})%>
        </tbody>
      </table>
    </div>
    <footer>Birkbeck Computer Science MSc Project</footer>
  </body>
</html>
